.bottom-news {
    margin-top: 35px;
    padding-bottom: 50px;
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-left {
        display: flex;
        align-items: center;
        max-width: 810px;
        gap: 0 20px;
        &-heading {
            margin-bottom: 5px;
        }
        .border {
            width: 50%;
            border-bottom: 5px solid $hero-color;
        }
        &-content {
            max-width: 240px;
        }
        .number_page-link {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: end;
        }
        &-desc {
            margin-bottom: 20px;
        }
        &-image_author {
            display: flex;
            justify-content: end;
        }
    }
    &-right {
        max-width: 500px;
        &-content {
            margin-top: 10px;
            padding: 8px 14px 14px;
            background-color: $color-pink-lighter;
        }
        &-heading {
            max-width: 252px;
            margin-bottom: 5px;
            margin: 0 auto 5px;
        }
        &-author {
            display: flex;
            align-items: center;
            gap: 0 8px;
            justify-content: end;
            margin-bottom: 5px;
            img {
                width: 15px;
                height: 15px;
            }
        }
        &-desc {
            margin-bottom: 10px;
        }
        .number_page-link {
            display: flex;
            justify-content: end;
        }
    }
}