body {
  background-color: $bg-color;
  font-size: 18px;
  font-family: $primary-font;
  font-weight: 400;
  color: $text-color;
  background-image: url("https://www.color-name.com/color-image?c=F5F2E8&desktop");
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
main {
}

.number_page-link {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: $color-pink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
