.title {
    font-family: $title-font;
    &--biggest {
        font-weight: 900;
        font-size: 94px;
        line-height: calc(110/94);
    }
    &--normal {
        font-weight: 700;
        font-size: 48px;
        line-height: calc(57/48);
    }
    &--medium {
        font-weight: 700;
        font-size: 40px;
        line-height: calc(47/40);
    }
}

.text {
    font-family: $primary-font;
    &-16 {
        font-size: 16px;
        line-height: calc(20/16);
    }
    &-18 {
        font-size: 18px;
        line-height: calc(22/18);
    }
    &-20 {
        font-size: 20px;
        line-height: calc(24/20);
    }
    &-22 {
        font-size: 22px;
        line-height: calc(27/22);
    }
    &-24 {
        font-size: 24px;
        line-height: calc(29/24);
    }
    &-30 {
        font-size: 30px;
        line-height: calc(37/30);
    }
    &-400 {
        font-weight: 400;
    }
    &-500 {
        font-weight: 500;
    }
    &-600 {
        font-weight: 600;
    }
    &-700 {
        font-weight: 700;
    }
    &-800 {
        font-weight: 800;
    }
    &-900 {
        font-weight: 900;
    }
    // 
    &-italic {
        font-style: italic;
    }
    &-center {
        text-align: center;
    }
    &-justify {
        text-align: justify;
    }
    &-pink {
        color: $color-pink;
    }
}