//font 
$primary-font: 'Inter',
sans-serif;
$title-font: 'Roboto',
sans-serif;
// color
$text-color: black;
$title-color: black;
$color-pink: #EB0083;
$color-pink-lighter: #FEE9F0;
$bg-color: #ffffff;
$hero-color: #edefee;